/* media query for medium devices */
@media screen and (min-width: 641px) and (max-width: 768px) {
    nav {
        width: 80%;
        margin: 0 auto;
    }

    .banner {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .sponsors {
        gap: 10px;
        width: 90%;
        margin: 0 auto;
    }

    .featured{
        gap: 20px;
        justify-content: space-around;
    }

}


/* media query for small devices */
@media screen and (max-width: 640px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    .nav-menu {
        flex-direction: column;
    }

    .banner {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .banner-info {
        width: 80%;
    }

    .banner-info h1{
        font-size: 1.83rem;
    }

    .banner-photo {
        width: 100%;
        width: 16rem;
        height: 16rem;
        padding: 1.87rem;
    }
    
    .banner-photo img{
        width: 100% ;
        height: 100%;
    }

    .sponsors {
        flex-direction: column;
        gap: 20px;
    }

    .featured{
        flex-direction: column;
    }
}