/* media query for medium devices */
@media screen and (min-width: 641px) and (max-width: 768px) {
    nav{
        width: 80%;
        margin: 0 auto;
    }

    .banner{
        flex-direction: column;
        gap: 20px;
    }

    .banner-info{
        width: 100%;
    }

    .banner-photo{
        width: 100%;
    }
    
}


/* media query for small devices */
@media screen and (max-width: 640px) {
    nav{
        flex-direction: column;
        gap: 20px;
    }

    .banner{
        flex-direction: column;
        gap: 20px;
    }
}